<div class="bg-white">
  <app-notification></app-notification>
  <div class="mx-auto max-w-2xl px-4 py-4 sm:px-6 sm:py-6 lg:max-w-7xl lg:px-8">
    <div class="flex justify-between items-center mb-4">
      <div class="flex space-x-2">
        <input
          type="text"
          placeholder="Search for a shop"
          class="p-2 border border-gray-300 rounded-md"
          [(ngModel)]="filterdShop"
        />
        <button class="bg-blue-500 text-white p-2 rounded-md hover:bg-blue-700">
          Search
        </button>
      </div>
      <button
        class="bg-green-500 text-white p-2 rounded-md hover:bg-green-700"
        (click)="openCreateShopPopUp()"
      >
        Create Shop
      </button>
    </div>
  </div>
  <hr class="my-4" />
  <div
    class="mx-auto max-w-2xl px-2 py-8 sm:px-4 sm:py-12 lg:max-w-7xl lg:px-6"
  >
    <h2 class="sr-only">Products</h2>
    <div
      class="grid grid-cols-1 gap-x-4 gap-y-6 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-6"
    >
      <div
        *ngFor="
          let shop of shops | searchfilter : filterdShop : 'name';
          let i = index
        "
      >
        <a [routerLink]="['/shops', shop.id]" class="group">
          <div
            class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-h-8 xl:aspect-w-7"
          >
            <img
              [src]="'assets/' + shop.images"
              alt="Olive drab green insulated bottle with flared screw lid and flat top."
              class="h-full w-full object-cover object-center group-hover:opacity-75"
            />
          </div>
          <h3 class="mt-2 text-sm text-gray-700">{{ shop.name }}</h3>
          <p class="mt-1 text-lg font-medium text-gray-900">
            {{ shop.description }}
          </p>
        </a>
      </div>
      <!-- More products... -->
    </div>
  </div>
</div>
