<div class="container mx-auto p-4">
  <div class="flex">
    <div class="bg-white rounded-lg overflow-hidden">
      <img
        [src]="'assets/' + shop.images"
        alt="Olive drab green insulated bottle with flared screw lid and flat top."
        class="h-64 max-w-2xl object-cover object-center group-hover:opacity-75"
      />
    </div>
    <div class="p-4">
      <h1 class="text-2xl font-bold mb-2">{{ shop.name }}</h1>
      <p class="text-gray-700 mb-4">{{ shop.description }}</p>

      <div class="mb-4">
        <h2 class="text-xl font-semibold mb-1">Address</h2>
        <p class="text-gray-600">
          {{ shop.address }}, {{ shop.city }}, {{ shop.state }},
          {{ shop.country }}
        </p>
      </div>

      <div class="mb-4">
        <h2 class="text-xl font-semibold mb-1">Contact</h2>
        <p class="text-gray-600">Phone: {{ shop.phone }}</p>
        <p class="text-gray-600">Email: {{ shop.email }}</p>
      </div>
    </div>
    <div>
      <div class="mb-4">
        <h2 class="text-xl font-semibold mb-1">Hours</h2>
        <p class="text-gray-600">Opening Hours: {{ shop.openingHours }}</p>
        <p class="text-gray-600">Closing Hours: {{ shop.closingHours }}</p>
      </div>

      <div class="mb-4">
        <h2 class="text-xl font-semibold mb-1">Category</h2>
        <p class="text-gray-600">{{ shop.category }}</p>
      </div>

      <div class="mb-4">
        <h2 class="text-xl font-semibold mb-1">Rating</h2>
        <p class="text-gray-600">{{ shop.rating }} / 5</p>
      </div>

      <div class="flex space-x-4 mt-4">
        <button
          (click)="editShop()"
          class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
        >
          Edit Shop
        </button>
        <button
          (click)="deleteShop()"
          class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600"
        >
          Delete Shop
        </button>
      </div>
    </div>
  </div>
  <hr class="m-3" />
  <div class="flex">
    <div>
      <h1>Products List</h1>
    </div>
    <div class="">
      <button
        (click)="openCreateProductPopup()"
        class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 mx-10"
      >
        Create new Product
      </button>
    </div>
  </div>
  <hr class="m-3" />

  <div class="">
    <ul role="list" class="divide-y divide-gray-100">
      <li class="flex justify-between gap-x-6 py-5 hover">
        <div class="flex min-w-0 gap-x-4">
          <img
            class="h-12 w-12 flex-none rounded-full bg-gray-50"
            src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"
            alt=""
          />
          <div class="min-w-0 flex-auto">
            <p class="text-sm font-semibold leading-6 text-gray-900">
              Leslie Alexander
            </p>
            <p class="mt-1 truncate text-xs leading-5 text-gray-500">
              leslie.alexander@example.com
            </p>
          </div>
        </div>
        <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
          <p class="text-sm leading-6 text-gray-900">Co-Founder / CEO</p>
          <p class="mt-1 text-xs leading-5 text-gray-500">
            Last seen <time datetime="2023-01-23T13:23Z">3h ago</time>
          </p>
        </div>
      </li>
    </ul>
  </div>
</div>
