<div class="user-profile">
  <div class="profile-header">
    <div class="flex items-center -space-x-1 overflow-hidden">
      <img class="inline-block h-12 w-12 rounded-full ring-2 ring-white" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
      <h2 class="ml-4 text-xl font-bold">{{ user.name }}</h2>
    </div>
    
    
    <div class="profile-details mt-4">
      <p><strong>Email:</strong> {{ user.email }}</p>
    </div>
    <div class="mt-4 flex space-x-4">
      <button class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 focus:outline-none">Edit Profile</button>
      <button class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600 focus:outline-none"
      (click)="onDeleteUser()">Delete Profile</button>
    </div>
  </div>

  <!-- <div class="profile-bio">
    <h3>About Me</h3>
  </div> -->
</div>
